# Template
hatchling
editables
hydra-core
tqdm
wandb
pre-commit
black
# Alignment
accelerate==1.6.0
deepspeed==0.16.9
datasets==3.5.0
peft==0.15.1
bitsandbytes==0.46.1
trl==0.16.0
# Model Merging
# swiss-ai fork of mergekit
git+https://github.com/swiss-ai/mergekit.git
git+https://github.com/triton-lang/triton.git@c817b9b63d40ead1ed023b7663f5ea14f676f4bc
liger-kernel==0.6.2
